{% extends 'blog/main.html' %}

{% block content %}


<div class="main">
    <form method="POST" enctype="multipart/form-data"> 
        <!-- Security token by Django -->
        {% csrf_token %} 
        <!-- form as paragraph -->
        <!-- {{ form.as_p }}  -->
        <div class="form-group"> 
            <label class="form_label">{{form.title.label_tag}}</label> 
        <div class="form_control">   {{ form.title }} </div>
        </div> 
        <div class="form-group"> 
            <label class="form_label">{{form.description.label_tag}} </label> 
            <div class="form_control">{{ form.description }} </div> 
        </div> 
        <div class="form-group"> 
            <label class="form_label">{{form.image.label_tag}}</label> 
            <div class="form_control">{{ form.image }} </div>
        </div> 

        <input type="submit"  class="btn btn-primary" value="Update"> 
    </form> 

    <a href="{% url 'display' %}" class="btn btn-success">See All Blogs</a><br><br>
    <a href="{% url 'create' %}" class="btn btn-info"><b>Create New Blog<b></a>
    
{% endblock %} 
     
</body>
</html>